::ng-deep body {
  //background: linear-gradient(#008241 20%, transparent 150%);
  background: radial-gradient(at 50% 30%, #60a56d, #087137);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
