.next{
  width: 100%;
  margin-left: 1px;
  margin-bottom: -60px;
  margin-top: 40px;
  padding: 15px;
  font-size: 25px;
  color: white;
  border-radius: 155px ;
 align-self: center;
 align-items: center;
  text-shadow: 1px 1px black;
}

.arrow{
  margin-left: 10px;
  margin-top: 5px;
  color: black;
  size-adjust: 50%;
}

  .h{
    width: 100%;
    padding: 30px;
    color: orange;
     }
  p{
    background: rgb(27, 27, 27);
    padding: 22px;
    margin: 0px;
  }

