<div class="profile-container">
  <div class="profile-header-container">
    
    

   <p></p> 
   <mat-icon class="arrow" routerLink="/">arrow_back</mat-icon>
    <!-- <a mat-flat-button class="h" color="black" ></a> -->

<button mat-raised-button class="next" color="primary" routerLink="/english" >English</button>
<button mat-raised-button class="next" color="primary" routerLink="/" >Filipino</button>
<button mat-raised-button class="next" color="primary" routerLink="/" >Science</button>
<button mat-raised-button class="next" color="primary" routerLink="/" >Math</button>
<button mat-raised-button class="next" color="primary" routerLink="/" >Araling Panlipunan</button>


