.next{
    width: 100%;
    margin-left: 1px;
    margin-bottom: -60px;
    margin-top: 40px;
    padding: 15px;
    font-size: 25px;
    color: white;
    border-radius: 155px ;
   align-self: center;
   align-items: center;
    text-shadow: 1px 1px black;
  
  
  }

  .add{
      margin-top: -50px;
  }
  .Weighted{
      font-style: italic;
  }
    .h{
      width: 100%;
      padding: 30px;
      color: orange;
       }
    p{
      background: rgb(27, 27, 27);
      padding: 22px;
      margin: 0px;
    }

    .arrow{
        margin-left: 10px;
        margin-top: 5px;
        color: black;
        size-adjust: 50%;
    }

    .subject {
         margin-left: 5px;
         margin-top: 8px;
        
    }

    h4{
        font-size: 20px;
    }
  
    h2{
        font-size: 30px;
        text-shadow:  1px 1px black;
        margin-left: 12px;
        
    }
    
    .mat-form-field + .mat-form-field {
        margin-left: 8px;
        color:orange
      }

      .h5{
          font-size: 20px;
          margin-left: 25px;
          text-align:right;
          margin-top: 2px;
      }

      .h55{
        font-size: 20px;
        margin-left: 60px;
        text-align:right;
        margin-top: 2px;
    }

      .hs{
        font-size: 20px;
        margin-left: 15px;
        text-align:right;
        margin-top: 2px;
      }
    

    .hss{
        font-size: 18px;
        margin-left: 170px;
        text-align:right;
        margin-top: 10px;
    }

    .hsss{
        font-size: 18px;
        // margin-left: 170px;
        text-align:right;
        margin-top: 4px;
    }
      
      .h6{
        font-size: 18px;
        // margin-right: 20px;
        margin-top: 2px;
        text-align: right;
    }

    .edit{
       margin-left: 240px;
       margin-top: -20%;
       
    }

    .Download{
        margin-left: 220px;
        margin-top: -100%;
        
     }

      .p{
          
          margin-left: 170px;
          margin-top: -65px;
      }

      .pp{
        margin-left: 190px;
        margin-top: -45px;
        font-size: -70%;
        width: -50%;
    }
    .quarter1{
        margin-top: -35px;
        font-size: 20px;
        border-radius: 50%;
    }

    .g{
        margin-top: -20px;
        font-size: 23px;
        border-radius: 50%;
        margin-left: 10px;
    }
    .Scores{
        margin-top: -48px;
        font-size: 20px;
        margin-left: 160px;
    }

    .border{
        border-color: black;
    }

    
    
    .accordion{
        color: orange
    }    
    h1{
        font-size: 30px;
        text-shadow:  1px 1px black;
        margin-left: 5px;
    }


    h3{
        font-size: 25px;
        margin-left: 7px;
    }

    .Name{
        margin-top: -45px;
        margin-left: 100px;
    }

    // .Names{
    //     margin-top: -45px;
    //     margin-left: 60px;
        
    // }
    .Score{
        margin-top: -45px;
        margin-left: 250px;
    }

    .table{
        color: black;
    }

    .PossibleScore{
        margin-left: 180px;
        margin-top: -65px;
        
    }


    .Percent{
        margin-left: 240px;
        margin-top: -65px;
    }
    
    .one{
        margin-top: -25px;
    
    }

    .number{
        margin-left: 2px;
        width: 50%;
        margin-top: -100px;
    }
    
    .Scores{
        margin-left: 20px;
        width: 15%;
        margin-top: -50px;
    }
    
    .updategrades{
      margin-left: 30px;
    }