<div class="profile-container">
    <div class="profile-header-container">
     <p></p> 
     
     <mat-icon class="arrow" routerLink="/grades">arrow_back</mat-icon>
        <div class="subject">
          
            <br>
            <h2>English Class</h2>
            <hr>
        </div>
            <br>
            <a mat-flat-button class="Download" color="primary">Download ECR</a> 
                
            <h2 class="g">Grades</h2>
          
            <!-- <a mat-flat-button class="Download" color="primary">Download ECR</a>  -->
            <hr>
            
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title >
                   <h4> 1. James Paolo</h4> 
                   
                  </mat-panel-title>
                  <mat-panel-description>
                    <h5 class="h5"> 98 %</h5>
                   
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <hr>
                <br>
                <a mat-flat-button class="edit" color="primary" routerLink="/record">Edit</a> 
                
                <h1 class="quarter1">1st Quarter</h1><h1 class="Scores">98%</h1> 
                 <hr><br>
                 <a mat-flat-button class="edit" color="primary">Edit</a> 

                 <h1 class="quarter1">2nd Quarter</h1><h1 class="Scores">0%</h1>
                  
                  <hr><br>
                 <a mat-flat-button class="edit" color="primary">Edit</a> 

                 <h1 class="quarter1">3rd Quarter </h1><h1 class="Scores">0%</h1>
                  
                  <hr><br>
                 <a mat-flat-button class="edit" color="primary">Edit</a> 

                 <h1 class="quarter1">4th Quarter </h1><h1 class="Scores">0%</h1>
                  <hr>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                   <h4> 2. Carlo Banez</h4> 
                  </mat-panel-title>
                  <mat-panel-description>
                    <h5 class="h5"> 100%</h5>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <hr>
                <br>
                <a mat-flat-button class="edit" color="primary">Edit</a> 
                
                <h1 class="quarter1">1st Quarter</h1><h1 class="Scores">100%</h1> 
                 <hr><br>
                 <a mat-flat-button class="edit" color="primary">Edit</a> 

                 <h1 class="quarter1">2nd Quarter</h1><h1 class="Scores">0%</h1>
                  
                  <hr><br>
                 <a mat-flat-button class="edit" color="primary">Edit</a> 

                 <h1 class="quarter1">3rd Quarter </h1><h1 class="Scores">0%</h1>
                  
                  <hr><br>
                 <a mat-flat-button class="edit" color="primary">Edit</a> 

                 <h1 class="quarter1">4th Quarter </h1><h1 class="Scores">0%</h1>
                  <hr>
              </mat-expansion-panel>
            </mat-accordion
            >
            <mat-accordion>
              <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title >
                   <h4> 3.Julius Masigan</h4> 
                   
                  </mat-panel-title>
                  <mat-panel-description>
                    <h5 class="hs"> 100 %</h5>
                   
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <hr>
                <br>
                <a mat-flat-button class="edit" color="primary">Edit</a> 
                
                <h1 class="quarter1">1st Quarter</h1><h1 class="Scores">100%</h1> 
                 <hr><br>
                 <a mat-flat-button class="edit" color="primary">Edit</a> 

                 <h1 class="quarter1">2nd Quarter</h1><h1 class="Scores">0%</h1>
                  
                  <hr><br>
                 <a mat-flat-button class="edit" color="primary">Edit</a> 

                 <h1 class="quarter1">3rd Quarter </h1><h1 class="Scores">0%</h1>
                  
                  <hr><br>
                 <a mat-flat-button class="edit" color="primary">Edit</a> 

                 <h1 class="quarter1">4th Quarter </h1><h1 class="Scores">0%</h1>
                  <hr>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                   <h4> 4.</h4> 
                  </mat-panel-title>
                  <mat-panel-description>
                    <h5 class="hss"> 100%</h5>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <hr>
                <br>
                <a mat-flat-button class="edit" color="primary">Edit</a> 
                
                <h1 class="quarter1">1st Quarter</h1><h1 class="Scores">0%</h1> 
                 <hr><br>
                 <a mat-flat-button class="edit" color="primary">Edit</a> 

                 <h1 class="quarter1">2nd Quarter</h1><h1 class="Scores">0%</h1>
                  
                  <hr><br>
                 <a mat-flat-button class="edit" color="primary">Edit</a> 

                 <h1 class="quarter1">3rd Quarter </h1><h1 class="Scores">0%</h1>
                  
                  <hr><br>
                 <a mat-flat-button class="edit" color="primary">Edit</a> 

                 <h1 class="quarter1">4th Quarter </h1><h1 class="Scores">0%</h1>
                  <hr>

                  
              </mat-expansion-panel>
            </mat-accordion>
      