<div class="change-password-container">
  <div class="change-password-header-container">
    <img class="logo" src="assets/logo.png" />
  </div>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
    <div class="change-password-form-container">
      <mat-form-field appearance="fill">
        <mat-label>Old Password</mat-label>
        <input
          matInput
          [type]="hideOldPassword ? 'password' : 'text'"
          placeholder="Password"
          formControlName="oldPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideOldPassword = !hideOldPassword"
        >
          <mat-icon>{{
            hideOldPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            oldPasswordForm.invalid &&
            (oldPasswordForm.dirty || oldPasswordForm.touched)
          "
        >
          <span *ngIf="oldPasswordForm.hasError('required')">
            Old password is required
          </span>
          <span *ngIf="oldPasswordForm.hasError('invalid')">
            Invalid old password.
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input
          matInput
          [type]="hideNewPassword ? 'password' : 'text'"
          placeholder="Password"
          formControlName="newPassword"
          [minlength]="8"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideNewPassword = !hideNewPassword"
        >
          <mat-icon>{{
            hideNewPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            newPasswordForm.invalid &&
            (newPasswordForm.dirty || newPasswordForm.touched)
          "
        >
          <span *ngIf="newPasswordForm.hasError('required')">
            New password is required
          </span>
          <span *ngIf="newPasswordForm.hasError('minlength')">
            Password must be at least 8 characters long.
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          placeholder="Password"
          formControlName="confirmPassword"
          [minlength]="8"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword"
        >
          <mat-icon>{{
            hideConfirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            confirmPasswordForm.invalid &&
            (confirmPasswordForm.dirty || confirmPasswordForm.touched)
          "
        >
          <span *ngIf="confirmPasswordForm.hasError('required')">
            Confirm password is required
          </span>
          <span *ngIf="confirmPasswordForm.hasError('minlength')">
            Password must be at least 8 characters long.
          </span>
          <span *ngIf="confirmPasswordForm.hasError('notMatch')">
            Password does not match.
          </span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">SUBMIT</button>
      <div class="cancel-container">
        <a mat-button (click)="onCancel()">Cancel</a>
      </div>
    </div>
  </form>

  <div class="change-password-footer-container">
    <span>&reg; ELEVATEKO Information Technology Services</span>
  </div>
</div>
