@use "~@angular/material" as mat;
@use "~@myschool/../src/styles" as theme;

.change-password-container {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25vmax auto 40px;
  justify-items: center;

  .change-password-header-container {
    margin: -30px 0 -40px 0;

    img.logo {
      height: 100%;
    }
  }

  .change-password-form-container {
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: start;

    mat-form-field {
      width: 100%;
      margin: 0 0 10px 0;
    }

    button {
      justify-self: stretch;
      padding: 5px 0;
    }

    .cancel-container {
      margin: 10px 0;
      justify-self: stretch;

      a {
        width: 100%;
      }
    }
  }

  .change-password-footer-container {
    display: grid;
    align-items: center;
    font-weight: 200;
    font-size: smaller;
  }
}
